.headerText {
    font-size: 28px;
}

.text {
    font-size: 20px;
    opacity: 0.7;
}

.inpPassword {
    width: 350px !important;
}

.buttonSave{
    border: 0;
    border-radius: 90px;
    background: linear-gradient(210.4deg, #18A2F1 16.79%, #0085FF 100%);
    width: 250px;
    height: 50px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    outline: none !important;
}
.buttonSave:hover{
    box-shadow: 0px 10px 30px rgba(0, 133, 255, 0.3);
}
.buttonSave:active{
    background: #0074D9;
}
@media (max-width: 992px) {
    .headerText {
        font-size: 20px;
    }
    .text {
        font-size: 15px;
    }
    .buttonSave{
        width: 220px;
    }
    .inpPassword{
        width: 100%!important;
        max-width: 350px!important;
    }
}