.block{

}
.blockContainer{
    background: linear-gradient(#34A5E5,white);
}
.headerText{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    opacity: 0.9;
}

.textHeader2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
.labelText{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #64757F;
}
.blockImg{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: calc(50% - 16px);
}
.blockManager{
    padding: 20px 50px;
    border-radius: 8px;
}