.block {
    position: relative;
    top: 15px;
    border-radius: 4px;
}

.blockRow {
    background-color: white;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.policyTextDescription {
    font-size: 18px;
    line-height: 22px;
}

.aboutText {
    font-size: 14px;
    text-align: justify;
}

.aboutTextPadding {
    padding-left: 15px;
    font-size: 14px;
    text-align: justify;
}

@media (max-width: 992px) {
    .policyTextDescription {
        font-size: 16px;
    }

    .aboutText {
        font-size: 12px;
        line-height: 15px;
    }

    .aboutTextPadding {
        font-size: 12px;
        line-height: 15px;
    }

}